.catalog {
  margin-bottom: 25px;

  &__wrapper {
    padding: 0 30px;

    @media (min-width: $desktop-width) {
      padding: 0 120px;
    }
  }

  &__title {
    font-family: $oswald-400;
    font-size: 36px;
    line-height: 36px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 26px;
    padding: 0 20px 41px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      border-bottom: none;
      padding: 0 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 110px;
      padding: 0 120px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      column-gap: 60px;
      row-gap: 60px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item,
  &__show-more {
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid $special_grey-2;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &__show-more {
    text-align: center;

    @media (min-width: $tablet-width) {
      display: flex;
      align-self: flex-end;
      box-sizing: border-box;
      width: 324px;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
    }

    &-inner {
      padding: 25px 0 24px;

      @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 324px;
        height: 429px;
        padding: 20px 37px 38px;
        border: 2px solid $basic_grey;
        text-align: center;
      }
    }

    &-text {
      font-family: $oswald-400;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #111111;
      margin-bottom: 8px;
      padding-top: 53px;
      position: relative;

      @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 23px;
        padding-top: 109px;
      }

      @media (min-width: $desktop-width) {
        margin-top: 56px;
      }

      &::before {
        content: url("../../img/icon-plus.svg");
        position: absolute;
        top: 0;
        left: calc(50% - 15px);

        @media (min-width: $tablet-width) {
          content: url("../../img/icon-plus-tablet.svg");
          left: calc(50% - 30px);
        }
      }
    }

    &-descr {
      font-size: 12px;
      line-height: 16px;
      color: $special_dark-grey-1;
      margin: 0 0 21px;

      @media (min-width: $tablet-width) {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 87px;
      }
    }

    &-link {
      display: block;
      text-align: center;
      font-family: $oswald-400;
      font-size: 16px;
      line-height: 40px;
      color: $special_dark-grey-1;
      text-decoration: none;
      text-transform: uppercase;
      background-color: $basic_grey;

      &:hover {
        background-color: $special_grey-2;
      }

      &:focus {
        color: rgba($color: $special_dark-grey-1, $alpha: 0.3);
      }
    }
  }
}
