.example {
  background-color: #eaeaea;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    padding-bottom: 70px;
  }

  &__wrapper {
    padding: 6px 20px 35px;

    @media (min-width: $tablet-width) {
      padding: 0 30px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      padding: 0 110px;
    }
  }

  &__title {
    font-family: $oswald-400;
    font-size: 36px;
    line-height: 40px;
    margin: 22px 0 34px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 62px;
    }
  }

  &__discription {
    color: $special_dark-grey-1;
    margin: 25px 0;
    padding-right: 1px;

    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
    }
  }

  &__slider-description {
    @media (min-width: $tablet-width) {
      display: flex;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 24px;

    & tbody {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      @media (min-width: $tablet-width) {
        justify-content: left;
      }
    }

    & tr {
      display: flex;
      align-items: center;
      width: 121px;
      flex-direction: column-reverse;
      border: 1px solid $special_grey-1;
      border-radius: 3px;
      padding: 15px 0;
      position: relative;

      @media (min-width: $tablet-width) {
        width: 160px;
        margin-right: 43px;
      }
    }

    & td:first-child {
      width: 60px;
      padding: 0 14px;
      color: $special_dark-grey-1;
      font-size: 12px;
      line-height: 12px;
      text-transform: lowercase;
      text-align: center;
      background-color: #eaeaea;
      position: absolute;
      bottom: -15px;

      @media (min-width: $tablet-width) {
        font-size: 14px;
        line-height: 14px;
        width: 135px;
        padding: 0 7px;
        bottom: -10px;
        background-color: $white;
      }
    }

    & td:last-child {
      font-family: $oswald-400;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;

      @media (min-width: $tablet-width) {
        font-size: 30px;
        line-height: 37px;
      }
    }
  }

  &__total-price {
    font-family: $oswald-400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 42px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 24px;
      text-align: right;
      margin-top: 13px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      width: 400px;
      text-align: left;
    }
  }

  &__slide:last-of-type {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &__slider {
    @media (min-width: $tablet-width) {
      padding-top: 53px;
      max-width: 800px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
    }

    &-list {
      display: flex;
      justify-content: center;
      height: 240px;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 24px;

      @media (min-width: $tablet-width) {
        margin-bottom: 13px;
        overflow: hidden;
        position: relative;
        width: 746px;
        height: 520px;
      }

      & .example__slide--before {
        @media (min-width: $tablet-width) {
          position: absolute;
          top: 0;
          left: 32px;
          width: 50%;
          height: 100%;
          overflow: hidden;
          z-index: 2;

          & img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
          }
        }
      }

      & .example__slide--after {
        @media (min-width: $tablet-width) {
          position: absolute;
          top: 0;
          left: 55px;

          & img {
            z-index: 1;
          }
        }
      }
    }
  }

  &__togglers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: $oswald-400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__toggle--mobile {
    width: 84px;
    height: 14px;
    border: 1px solid $special_grey-1;
    border-radius: 6px;
    background-color: $white;
    appearance: none;
    position: relative;
    margin: 0 15px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 6px;
      background-color: $basic_green-1;
      border-radius: 6px;
      top: 3px;
      left: 6px;
      transform: scale(1.1);
      transition: 0.5s;
    }

    &:checked::before {
      content: "";
      left: 42px;
    }

    &:checked .example__slide:last-of-type {
      display: block;
    }
  }

  &__toggle--desktop {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      width: 428px;
      margin: 8px 0;
      padding: 0;
    }
  }

  &__span {
    font-size: 20px;
    line-height: 30px;
  }
}

input[type="range"] {
  appearance: none;
  border-radius: 8px;
  margin: 0 20px;
  height: 7px;
  border: 1px solid #bdc3c7;
  background-color: $white;
}
