.example {
  background-color: $basic_grey;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    box-shadow: inset 0 576px 0 0 $white;
    padding-bottom: 67px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    box-shadow: inset 0 158px 0 0 $white, inset -394px 0 0 0 #eaeaea;
    padding-bottom: 29px;
  }

  &__wrapper {
    padding: 6px 20px 30px;

    @media (min-width: $tablet-width) {
      padding: 0 30px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 110px;
    }
  }

  &__title {
    font-family: $oswald;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin: 22px 0 34px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 62px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 145px;
    }
  }

  &__discription {
    color: $special_dark-grey-1;
    margin: 25px 0;
    padding-right: 1px;

    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 70px;
      padding-right: 85px;
    }
  }

  &__slider-description {
    @media (min-width: $tablet-width) {
      display: flex;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 24px;

    @media (min-width: $desktop-width) {
      margin-bottom: 50px;
    }

    & tbody {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
      column-gap: 33px;
      margin-right: 105px;
      margin-bottom: 10px;

      @media (min-width: $tablet-width) {
        justify-content: left;
        column-gap: 2px;
      }
    }

    & tr {
      display: flex;
      align-items: center;
      width: 121px;
      flex-direction: column-reverse;
      border: 1px solid $special_grey-1;
      border-radius: 3px;
      padding: 15px 0;
      position: relative;

      @media (min-width: $tablet-width) {
        width: 160px;
        margin-right: 0;
      }
    }

    & td:first-child {
      width: 60px;
      padding: 0 14px;
      color: $special_dark-grey-1;
      font-size: 12px;
      line-height: 12px;
      text-transform: lowercase;
      text-align: center;
      background-color: #eaeaea;
      position: absolute;
      bottom: -15px;

      @media (min-width: $tablet-width) {
        font-size: 14px;
        line-height: 14px;
        width: 135px;
        padding: 0 7px;
        bottom: -10px;
        background-color: $white;
      }

      @media (min-width: $desktop-width) {
        bottom: -5px;
        background-color: #eaeaea;
      }
    }

    & td:last-child {
      font-family: $oswald;
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;

      @media (min-width: $tablet-width) {
        font-size: 30px;
        line-height: 37px;
      }
    }
  }

  &__total-price {
    font-family: $oswald;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 24px;
      text-align: right;
      margin-top: 13px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      width: 325px;
      text-align: left;
    }
  }

  &__slider {
    @media (min-width: $tablet-width) {
      padding-top: 53px;
      max-width: 800px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }

    &-list {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 0 23px;
      padding: 0;
      list-style: none;
      position: relative;

      @media (min-width: $tablet-width) {
        margin-bottom: 13px;
        width: 746px;
        height: 520px;
      }

      @media (min-width: $desktop-width) {
        width: 704px;
      }
    }
  }

  &__slide--before {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: 0;
      left: 20px;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    & img {
      @media (min-width: $tablet-width) {
        position: absolute;
        top: 0;
        left: -3px;
        z-index: 2;
      }

      @media (min-width: $desktop-width) {
        top: -31px;
        left: 34px;
      }
    }
  }

  &__slide--after {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: 0;
      left: 177px;
      width: 100%;
      height: 100%;
    }

    & img {
      position: absolute;
      left: 20px;

      @media (min-width: $tablet-width) {
        position: absolute;
        left: -160px;
        z-index: 1;
      }

      @media (min-width: $desktop-width) {
        top: -31px;
        left: -122px;
      }
    }
  }

  &__togglers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1px;
    left: -2px;
    font-family: $oswald;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    @media (min-width: $desktop-width) {
      top: -16px;
      left: 66px;
    }
  }

  &__input--mobile {
    width: 84px;
    height: 14px;
    border: 1px solid $special_grey-1;
    border-radius: 6px;
    background-color: $white;
    appearance: none;
    position: relative;
    margin: 0 12px 0 24px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 6px;
      background-color: $basic_green-1;
      border-radius: 6px;
      top: 3px;
      left: 6px;
      transform: scale(1.1);
      transition: 0.5s;
    }

    &:checked::before {
      content: "";
      left: 42px;
    }

    &:checked .example__slide:last-of-type {
      display: block;
    }
  }

  &__input--desktop {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      width: 433px;
      margin: 0 20px 0 17px;
      padding: 15px 0;
      background-color: transparent;
      appearance: none;

      &[type="range"]:focus {
        outline: none;
      }

      &[type="range"]::-webkit-slider-runnable-track {
        height: 6px;
        cursor: pointer;
        background-color: #dcdcdc;
        border-radius: 25px;
      }

      &[type="range"]::-webkit-slider-thumb {
        width: 34px;
        height: 34px;
        border: 1px solid $special_grey-1;
        border-radius: 50%;
        box-shadow: inset 0 0 0 12px $white, 0 1px 3px rgba(0, 0, 0, 0.16);
        background-color: $basic_green-1;
        box-sizing: border-box;
        margin-top: -15px;
        margin-left: 5px;
        appearance: none;
        cursor: pointer;
      }

      &[type="range"]:hover::-webkit-slider-thumb {
        box-shadow: inset 0 0 0 12px $white, 0 2px 4px rgba(rgba($black, $alpha: 0.19), 0.19);
        transition-duration: 0.1s;
      }

      &[type="range"]:focus::-webkit-slider-thumb {
        outline: none;
        border-color: $basic_green-1;
        box-shadow: inset 0 0 0 12px $white, 0 3px 5px rgba($basic_green-1, 0.2);
        transition-duration: 0.1s;
      }

      &[type="range"]:focus::-webkit-slider-runnable-track {
        background-color: $basic_green-1;
        transition-duration: 1s;
      }

      &[type="range"]::-moz-range-track {
        height: 6px;
        cursor: pointer;
        background-color: #dcdcdc;
        border-radius: 25px;
      }

      &[type="range"]::-moz-range-thumb {
        @media (min-width: $tablet-width) {
          width: 34px;
          height: 34px;
          border: 1px solid $special_grey-1;
          border-radius: 50%;
          box-shadow: inset 0 0 0 12px $white, 0 1px 3px rgba(0, 0, 0, 0.16);
          background-color: $basic_green-1;
          box-sizing: border-box;
          margin-top: -15px;
          margin-left: 5px;
          appearance: none;
          cursor: pointer;

          &:hover {
            box-shadow: inset 0 0 0 12px $white, 0 2px 4px rgba(rgba($black, $alpha: 0.19), 0.19);
            transition-duration: 0.1s;
          }

          &:focus {
            outline: none;
            background-color: $basic_green-1;
            transition-duration: 1s;
          }
        }
      }

      &[type="range"]::-ms-track {
        height: 6px;
        cursor: pointer;
        background-color: #dcdcdc;
        border-radius: 25px;
        border-width: 39px 0;
        color: transparent;
      }

      &[type="range"]::-ms-fill-lower {
        width: 34px;
        height: 34px;
        border: 1px solid $special_grey-1;
        border-radius: 50%;
        box-shadow: inset 0 0 0 12px $white, 0 1px 3px rgba(0, 0, 0, 0.16);
        background-color: $basic_green-1;
        box-sizing: border-box;
        margin-top: -15px;
        margin-left: 5px;
        appearance: none;
        cursor: pointer;
      }

      &[type="range"]::-ms-fill-upper {
        width: 34px;
        height: 34px;
        border: 1px solid $special_grey-1;
        border-radius: 50%;
        box-shadow: inset 0 0 0 12px $white, 0 1px 3px rgba(0, 0, 0, 0.16);
        background-color: $basic_green-1;
        box-sizing: border-box;
        margin-top: -15px;
        margin-left: 5px;
        appearance: none;
        cursor: pointer;
      }

      &[type="range"]::-ms-thumb {
        @media (min-width: $tablet-width) {
          width: 34px;
          height: 34px;
          border: 1px solid $special_grey-1;
          border-radius: 50%;
          box-shadow: inset 0 0 0 12px $white, 0 1px 3px rgba(0, 0, 0, 0.16);
          background-color: $basic_green-1;
          box-sizing: border-box;
          margin-top: -15px;
          margin-left: 5px;
          appearance: none;
          cursor: pointer;

          &:hover {
            box-shadow: inset 0 0 0 12px $white, 0 2px 4px rgba(rgba($black, $alpha: 0.19), 0.19);
            transition-duration: 0.1s;
          }

          &:focus {
            outline: none;
            background-color: $basic_green-1;
            transition-duration: 1s;
          }
        }
      }

      &[type="range"]:focus::-ms-fill-lower {
        background-color: $basic_green-1;
      }

      &[type="range"]:focus::-ms-fill-upper {
        background-color: $basic_green-1;
      }
    }
  }

  &__button {
    font-family: $oswald;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px dotted rgba($black, $alpha: 0.3);
    padding: 0;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid rgba($black, $alpha: 0.4);
      transition-duration: 0.2s;
    }

    &:focus {
      border-bottom: none;
      outline: none;
      transition-duration: 0.2s;
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
    }
  }
}
