.page__body {
  @media (min-width: $desktop-width) {
    background-image: url("../../img/desktop-background.jpg");
    background-repeat: no-repeat;
    background-size: 50% 694px;
    background-position-x: right;
  }
}

.page-header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 21px 0 33px;
  }

  &__wrapper {
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      padding-left: 30px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 110px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &__logo {
    text-decoration: none;

    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
    }

    &-img {
      margin-right: 52px;

      @media (min-width: $tablet-width) {
        margin-right: 10px;
      }
    }

    &-img:last-of-type {
      padding-bottom: 8px;

      @media (min-width: $tablet-width) {
        padding-bottom: 0;
      }
    }
  }
}
