.page-footer {
  background-color: $basic_grey;
  padding: 32px 0 21px;

  &__wrapper {
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      padding: 0 30px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo-name {
    align-self: center;
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      margin: 11px 0 0 0;
    }
  }

  &__social {
    width: 100%;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      border: none;
      margin-bottom: 0;
    }

    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      padding: 22px 0 16px;
      margin: 0 6px 0 0;

      @media (min-width: $tablet-width) {
        margin: 0;
      }
    }

    &-item + &-item {
      margin-left: 24px;
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-link {
      font-size: 16px;
      line-height: 18px;
      color: $special_dark-grey-1;
      text-decoration: none;

      &:last-of-type {
        margin-left: 22px;
      }
    }

    &-span {
      text-transform: uppercase;
    }
  }
}

.social-link {
  &--vk svg {
    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;
    }
  }

  &--inst svg {
    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb svg {
    @media (min-width: $tablet-width) {
      width: 20px;
      height: 30px;
    }
  }
}
