.product-card {
  @media (min-width: $tablet-width) {
    background-color: $basic_grey;
    box-shadow: inset 0 71px 0 0 $white;
    box-sizing: border-box;
    width: 324px;
    padding: 0 36px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }

  &__inner {
    display: flex;
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      flex-direction: column;
      align-items: center;
      height: 431px;
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      justify-content: flex-end;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    margin-bottom: 6px;

    @media (min-width: $tablet-width) {
      margin-bottom: 34px;
    }
  }

  &__description {
    width: 50%;

    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  &__title {
    font-family: $oswald-400;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: $special_dark-grey-2;
    margin-top: 0;
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin: 34px 0 21px;
    }

    @media (min-width: $desktop-width) {
      line-height: 21px;
      text-align: center;
      margin: 46px 0 22px;
    }
  }

  &__table {
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    color: $special_dark-grey-1;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 16px;
      text-align: center;
    }

    & tr {
      display: flex;
      align-content: space-between;
      justify-content: space-between;

      @media (min-width: $tablet-width) {
        padding: 8px 0;
        border-bottom: 1px solid $special_grey-1;
      }
    }
  }

  &__span {
    text-transform: uppercase;
  }

  &__link {
    width: 100%;
  }
}
