.promo {
  min-height: 302px;
  background-color: $basic_green-1;
  background-image: url("../../img/mobile-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 110px;

  @media (min-width: $tablet-width) {
    background: none;
    min-height: 727px;
  }

  @media (min-width: $desktop-width) {
    height: 0;
    margin-left: 87px;
    text-align: left;
    color: $black;
    background-image: url("../../img/desktop-background.jpg");
    background-repeat: no-repeat;
    background-position: calc(100% - 55px) 0;
    margin-bottom: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop-background@2x.jpg");
      background-size: 709px 609px;
    }
  }

  &__link {
    display: block;
    position: absolute;
    top: 355px;
    width: 280px;
    text-align: center;
    line-height: 40px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $basic_green-1;

    @media (min-width: $tablet-width) {
      position: static;
      width: 244px;
      top: 440px;
      font-size: 20px;
      line-height: 54px;
    }
  }

  &__wrapper {
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &__content {
    padding-top: 26px;
    width: 300px;
    text-align: center;
    font-family: $oswald-400;
    color: $white;
    position: absolute;
    background-image: url("../../img/mobile-can.png");
    background-repeat: no-repeat;
    background-position: calc(50% - 19px) 100px;
    z-index: 2;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/mobile-can@2x.png");
      background-size: 280px 270px;
    }

    @media (min-width: $tablet-width) {
      width: 570px;
      height: 809px;
      margin-left: 87px;
      text-align: left;
      color: $black;
      background-image: url("../../img/tablet-can.png");
      background-repeat: no-repeat;
      background-position: calc(50% - 19px) 226px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/tablet-can@2x.png");
        background-size: 709px 609px;
      }
    }

    @media (min-width: $desktop-width) {
      height: 1000px;
      background-image: url("../../img/desktop-can.png");
      background-repeat: no-repeat;
      background-position: 45% 100px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/desktop-can@2x.png");
        background-size: 552px 499px;
      }
    }
  }

  &__slogan {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 26px;

    @media (min-width: $tablet-width) {
      text-align: left;
      color: $black;
      font-size: 60px;
      line-height: 60px;
      margin: 0 0 40px;
    }

    @media (min-width: $desktop-width) {
      width: 414px;
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__intro {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 200px;
    padding-bottom: 164px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 49px;
      padding-bottom: 0;
    }
  }
}
